.main-header{
    height : 80px;
    background : #EEE9DA;
}
.main-header .header{
    height : 100%;
}
.main-header .header .header-menu{
    width: 60%;
    margin : 0 auto;
    height:100%
}
.main-header .header .header-menu .list{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.main-header .header .header-menu .list .list-item{
    padding : 0 20px;
    font-size : 1.5rem;
    text-align: center;
}
span.time{
    padding : 5px;
}
.main-header .responsive-header{
    display: none;
}
@media (max-width: 768px){
    .main-header .header-desktop{
        display: none;
        height: 100%;
    }
    .main-header .responsive-header{
        display: block;
        height: 100%;

    }
    .main-header .responsive-header .main{
        display: flex;
        height: 100%;
        align-items: center;
    }
    .main-header .responsive-header .main .menu-button button {
        background : none;
        border : none;
    }
    .main-header .responsive-header .main .menu-button button img{
        margin-right: 5px;
    }
    .main-header .responsive-header .navigation-menu{
        width: 100%;
        height: 100vh;
        z-index : 99999;
        position: fixed;
        top : 0 ;
        transition: .5s;
        right : -100% ;
        background : #6096B4;
    }
    .main-header .responsive-header .navigation-menu ul{
        width: 80%;
        margin: 20% auto 0 auto;
    }
    .main-header .responsive-header .navigation-menu ul li{
        padding : 15px;
        font-size : 1.5rem;
        text-align : center
    }
    .main-header .responsive-header .navigation-menu ul li:not(:last-child){
      border-bottom : 1px solid #000;
    }
    .main-header .responsive-header .navigation-menu.show{
        right : 0;
    }
}
